# -*- python -*-
# ex: set filetype=python:

from twisted.internet import defer
from buildbot.plugins import *
from buildbot.plugins import secrets, util
import configparser
import json
import multiprocessing
import os
import random
import time

def get_worker_setting(config, worker_name, setting):
    """Load a worker setting from worker.ini"""
    worker_config = config

    try:
        value = worker_config.get(worker_name, setting)
    except configparser.NoOptionError:
        value = None

    return value

def get_config(name):
    """Return active master configuration"""
    config = configparser.ConfigParser()

    custom = f'{name}.ini'
    default = f'{name}-default.ini'

    if os.path.exists(custom):
        config.read(custom)
    elif os.path.exists(default):
        config.read(default)
    else:
        print(f'ERROR: could not find {custom} or {default}')
        sys.exit(1)

    return config

# Load configuration from configuration files
worker_config = get_config("worker")
master_config = get_config("master")

c = BuildmasterConfig = {}

# Global settings
persistent_dir = os.path.expanduser(os.path.join(basedir, "persistent"))
notify_email = master_config.get("master", "notify_email")
master_fqdn = master_config.get("master", "master_fqdn")
buildbot_url = master_config.get("master", "buildbot_url")
title_url = master_config.get("master", "title_url")
docker_host = master_config.get("docker", "host", raw=True)
docker_network = master_config.get("docker", "network")

# openvpn settings
openvpn_repo_url = master_config.get("openvpn", "repo_url")
openvpn_branch = master_config.get("openvpn", "branch")
openvpn_run_tclient_tests = master_config.get("openvpn", "run_tclient_tests")
otst = master_config.get("openvpn", "tree_stable_timer")
openvpn_tree_stable_timer = None if otst == 'None' else int(otst)

# openvpn3 settings
openvpn3_repo_url = master_config.get("openvpn3", "repo_url")
openvpn3_branch = master_config.get("openvpn3", "branch")
o3tst = master_config.get("openvpn3", "tree_stable_timer")
openvpn3_tree_stable_timer = None if o3tst == 'None' else int(o3tst)

# openvpn3-linux settings
openvpn3_linux_repo_url = master_config.get("openvpn3-linux", "repo_url")
openvpn3_linux_branch = master_config.get("openvpn3-linux", "branch")
o3ltst = master_config.get("openvpn3-linux", "tree_stable_timer")
openvpn3_linux_tree_stable_timer = None if o3ltst == 'None' else int(o3ltst)

# Each section in worker.ini represents one buildbot worker. The "DEFAULT"
# section gives the default settings and gets filtered out automatically, i.e.
# does not become a worker.
worker_names = worker_config.sections()
builder_names = {}

# Load configuration options used for packaging, connectivity testing and compile tests
build_and_test_config_opt_combos = json.loads(master_config.get("openvpn", "build_and_test_config_opt_combos"))
compile_config_opt_combos = json.loads(master_config.get("openvpn", "compile_config_opt_combos"))
packaging_config_opt_combos = json.loads(master_config.get("openvpn", "packaging_config_opt_combos"))

c['secretsProviders'] = [secrets.SecretInAFile(dirname=os.path.join(persistent_dir, "secrets"))]

c['workers'] = []

# Create normal and latent workers
for worker_name in worker_names:
    if worker_config.get(worker_name, "type") ==  "latent_docker":
      image = worker_config.get(worker_name, "image")
      c['workers'].append(worker.DockerLatentWorker(worker_name,
                                                    worker_config.get(worker_name, "password"),
                                                    max_builds=1,
                                                    notify_on_missing=notify_email,
                                                    docker_host=docker_host,
                                                    followStartupLogs=True,
                                                    image=image,
                                                    masterFQDN="buildmaster",
                                                    volumes=[f'buildbot-worker-{worker_name}:/home/buildbot'],
                                                    hostconfig = { "network_mode": docker_network,
                                                                   "sysctls": { "net.ipv6.conf.all.disable_ipv6": 0 },
                                                                   "cap_add": ["NET_ADMIN"] }))
    else:
        c['workers'].append(worker.Worker(worker_name,
                            util.Secret("worker-password"),
                            max_builds=1,
                            notify_on_missing=notify_email,
                            properties = { 'signing_cert_sha1': get_worker_setting(worker_config, worker_name, 'signing_cert_sha1'), 'timestamp_url': get_worker_setting(worker_config, worker_name, 'timestamp_url')}))

c['protocols'] = {'pb': {'port': 9989}}

c['change_source'] = []

# OpenVPN 2 Git repository
c['change_source'].append(changes.GitPoller(repourl = openvpn_repo_url,
                                            branch  = openvpn_branch,
                                            project = 'openvpn',
                                            workdir = 'gitpoller-workdir-openvpn',
                                            pollInterval=10))

# OpenVPN 3 Git repository
c['change_source'].append(changes.GitPoller(repourl = openvpn3_repo_url,
                                            branch  = openvpn3_branch,
                                            project = 'openvpn3',
                                            workdir = 'gitpoller-workdir-openvpn3',
                                            pollInterval=10))

c['change_source'].append(changes.GitPoller(repourl = openvpn3_linux_repo_url,
                                            branch  = openvpn3_linux_branch,
                                            project = 'openvpn3-linux',
                                            workdir = 'gitpoller-workdir-openvpn3-linux',
                                            pollInterval=10))
c['builders'] = []

# Allow only two concurrent builds across all latent docker workers
cpus = multiprocessing.cpu_count()
docker_build_lock = util.MasterLock("docker", maxCount=cpus)

# Only allow one docker worker to run t_client tests at the same time. This is
# convenience feature to reduce the number of keys required for t_client tests.
docker_tclient_lock = util.MasterLock("docker", maxCount=1)

factories = {}

def getBuilderNameSuffix(combo):
    """Generate builder name suffix from configure options"""
    if not combo:
      return "-default"
    else:
      return combo.replace(" ", "")

def getFactoryName(combo):
    return f'factory{getBuilderNameSuffix(combo)}'

def can_sign(buildstep):
    """Check if this worker can sign binaries"""
    worker_name = buildstep.worker.workername
    worker_config = configparser.ConfigParser()
    worker_config.read("worker.ini")
    sign_capable = True

    try:
        worker_config.get(worker_name, "timestamp_url")
        worker_config.get(worker_name, "signing_cert_sha1")
    except configparser.NoOptionError:
        sign_capable = False

    return sign_capable


# Load build steps from separate files
#
# OpenVPN 2 build steps
for steps_file in ["common_unix_steps.cfg", "common_windows_steps.cfg", "debian_packaging_steps.cfg", "tclient_steps.cfg", "unix_compile_steps.cfg"]:
    exec(compile(source=open(os.path.join('openvpn', steps_file)).read(), filename=os.path.join('openvpn', steps_file), mode='exec'))

# OpenVPN 3 build steps
for steps_file in ["common_linux_steps.cfg"]:
    exec(compile(source=open(os.path.join('openvpn3', steps_file)).read(), filename=os.path.join('openvpn3', steps_file), mode='exec'))

# OpenVPN 3 build steps
for steps_file in ["common_linux_steps.cfg"]:
    exec(compile(source=open(os.path.join('openvpn3-linux', steps_file)).read(), filename=os.path.join('openvpn3-linux', steps_file), mode='exec'))

# Basic OpenVPN 2 compile tests on Unix-style operating systems
for combo in compile_config_opt_combos:
    factory = util.BuildFactory()
    factory = openvpnAddCommonUnixStepsToBuildFactory(factory, combo)
    factory = openvpnAddUnixCompileStepsToBuildFactory(factory, combo)
    factory_name = getFactoryName(combo)
    factories.update({factory_name: (factory, 'unix', 'default', 'openvpn')})
    del factory

# OpenVPN 2 connectivity tests on Unix-style operating systems
if openvpn_run_tclient_tests == "True":
    for combo in build_and_test_config_opt_combos:
        factory = util.BuildFactory()
        factory = openvpnAddCommonUnixStepsToBuildFactory(factory, combo)
        factory = openvpnAddUnixCompileStepsToBuildFactory(factory, combo)
        factory = openvpnAddTClientStepsToBuildFactory(factory, combo)
        factory_name = getFactoryName(combo)
        factories.update({factory_name: (factory, 'unix', 'default', 'openvpn')})
        del factory

# OpenVPN 2 Debian and Ubuntu packaging
for combo in packaging_config_opt_combos:
    factory = util.BuildFactory()
    factory = openvpnAddCommonUnixStepsToBuildFactory(factory, "")
    factory = openvpnAddDebianPackagingStepsToBuildFactory(factory, "")
    factory_name = getFactoryName("-package")
    factories.update({factory_name: (factory, 'unix', 'debian', 'openvpn')})
    del factory

# OpenVPN 2 Windows msbuild tests
factory = util.BuildFactory()
factory = openvpnAddCommonWindowsStepsToBuildFactory(factory, combo)
factory_name = "msbuild"
factories.update({factory_name: (factory, 'windows', 'default', 'openvpn')})
del factory

# Basic openvpn3 builds
factory = util.BuildFactory()
factory = openvpn3AddCommonLinuxStepsToBuildFactory(factory, combo)
factory_name = "openvpn3"
factories.update({factory_name: (factory, 'unix', 'default', 'openvpn3')})
del factory

# OpenSSL openvpn3-linux builds
factory = util.BuildFactory()
factory = openvpn3LinuxAddCommonLinuxStepsToBuildFactory(factory, ["--with-crypto-library=openssl"])
factory_name = "openvpn3-linux-openssl"
factories.update({factory_name: (factory, 'unix', 'openssl', 'openvpn3-linux')})
del factory

# MbedTLS openvpn3-linux builds
factory = util.BuildFactory()
factory = openvpn3LinuxAddCommonLinuxStepsToBuildFactory(factory, ["--with-crypto-library=mbedtls"])
factory_name = "openvpn3-linux-mbedtls"
factories.update({factory_name: (factory, 'unix', 'mbedtls', 'openvpn3-linux')})
del factory

# Create the builders
for factory_name, factory in factories.items():
    for worker_name in worker_names:
      # Check if this factory is applicable for the worker's operating system
      if not factory[1] == worker_config.get(worker_name, "ostype"):
          continue

      # Check if this worker can build Debian packages
      if factory[2] == "debian" and (worker_config.get(worker_name, "can_package_debian") != "true"):
          continue

      # Concurrent docker builds utilize a shared master lock in counting mode.
      # In human-speak we only allow two concurrent Docker builders to run at
      # any given time.
      if worker_config.get(worker_name, "type") == "latent_docker":
          # Builder-level locks affect the entire build
          locks = [docker_build_lock.access('counting')]
      else:
          locks = None

      builder_name = f'{worker_name}-{factory_name}'
      c['builders'].append(
          util.BuilderConfig(name=builder_name,
                                workernames=[worker_name],
                                factory=factory[0],
                                locks=locks))

      # The schedulers need a list of applicable builder names. In practice we
      # need different set of builders for each project we are tracking.
      try:
          builder_names[factory[3]]
      except KeyError:
          builder_names[factory[3]] = []
      builder_names[factory[3]].append(builder_name)

# We need to create schedulers after the builders, because otherwise the build
# name lists are not available yet.
c['schedulers'] = []
c['schedulers'].append(schedulers.SingleBranchScheduler(
                        name="openvpn-default",
                        change_filter=util.ChangeFilter(branch  = openvpn_branch,
                                                        project = 'openvpn'),
                        treeStableTimer=openvpn_tree_stable_timer,
                        builderNames=builder_names['openvpn']))

c['schedulers'].append(schedulers.SingleBranchScheduler(
                        name="openvpn3-default",
                        change_filter=util.ChangeFilter(branch  = openvpn3_branch,
                                                        project = 'openvpn3'),
                        treeStableTimer=openvpn3_tree_stable_timer,
                        builderNames=builder_names['openvpn3']))

c['schedulers'].append(schedulers.SingleBranchScheduler(
                        name="openvpn3-linux-default",
                        change_filter=util.ChangeFilter(branch  = openvpn3_linux_branch,
                                                        project = 'openvpn3-linux'),
                        treeStableTimer=openvpn3_linux_tree_stable_timer,
                        builderNames=builder_names['openvpn3-linux']))

c['schedulers'].append(schedulers.ForceScheduler(
                        name="openvpn-force",
                        builderNames=builder_names['openvpn']))

c['schedulers'].append(schedulers.ForceScheduler(
                        name="openvpn3-force",
                        builderNames=builder_names['openvpn3']))

c['schedulers'].append(schedulers.ForceScheduler(
                        name="openvpn3-linux-force",
                        builderNames=builder_names['openvpn3-linux']))

c['services'] = []
c['title'] = "OpenVPN buildbot"
c['titleURL'] = title_url
c['buildbotURL'] = buildbot_url
c['www'] = {
    'port': 8010,
    'plugins': { 'waterfall_view': True, }
}

c['db'] = {
    'db_url' : f'sqlite:////{persistent_dir}/libstate.sqlite',
}
