# -*- python -*-
# ex: set filetype=python:
def openvpnAddDebianPackagingStepsToBuildFactory(factory, combo):

    factory.addStep(steps.ShellCommand(command=["make", "dist-gzip"],
                                        name="creating release tarball",
                                        description="archiving",
                                        descriptionDone="archiving"))

    # Copy Debian packaging files from buildmaster to the worker.
    #
    # Buildbot does not support copying directories from master to worker, only
    # vice versa. Therefore this somewhat convoluted set of steps is required.
    # In theory this could cause a sort of race condition if multiple Debian
    # packaging builds would launch at roughly the same time. Timestamping the
    # files would solve it, but as the problem is not in sight it's not fixed
    # yet.
    factory.addStep(steps.MasterShellCommand(command=["rm", "-f", util.Interpolate('debian/%(prop:workername)s/debian.tar')],
                                             name="removing old debian packaging file archive",
                                             description="removing",
                                             descriptionDone="removing"))

    factory.addStep(steps.MasterShellCommand(command=["tar", "-C", util.Interpolate('debian/%(prop:workername)s'), "--exclude=*.p12", "-cvf", util.Interpolate('debian/%(prop:workername)s/debian.tar'), "debian"],
                                             name="creating archive of debian packaging files",
                                             description="archiving",
                                             descriptionDone="archiving"))

    factory.addStep(steps.FileDownload(mastersrc=util.Interpolate('/var/lib/buildbot/masters/default/debian/%(prop:workername)s/debian.tar'),
                                       workerdest="debian.tar",
                                       name="download debian packaging files",
                                       description="downloading",
                                       descriptionDone="downloading"))

    factory.addStep(steps.FileDownload(mastersrc="/var/lib/buildbot/masters/default/debian/changelog",
                                       workerdest="debian-changelog",
                                       name="download changelog",
                                       description="downloading",
                                       descriptionDone="downloading"))

    factory.addStep(steps.FileDownload(mastersrc="/var/lib/buildbot/masters/default/debian-package.sh",
                                       workerdest="debian-package.sh",
                                       name="download debian packaging script",
                                       description="downloading",
                                       descriptionDone="downloading",
                                       mode=0o755))

    factory.addStep(steps.ShellCommand(command=["./debian-package.sh", "-w", util.Interpolate('%(prop:workername)s'), "-v", "2.6_git", "-s", "2.6"],
                                       name="package",
                                       description="packaging",
                                       descriptionDone="packaging"))

    return factory
